{% extends "posts/index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mb-3">
    <br>
    <div class="blog-wrapper mb-3">
        <div class="img-wrapper">
            <img src="{{user.profile.image.url}}" alt="">
        </div>
        <div class="txt-wrapper">
            <h4 class="blog-title">{{user.username}}</h4>
            <p>{{user.email}}</p>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{u_form|crispy}}
                {{p_form|crispy}}
                <button class="mt-5 btn btn-primary" type="submit">Update</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}