{% extends "posts/index.html" %}
{% load static %}
{% block content %}
<div class="container mb-3">
    <h3 class="section-title mb-5">Our Blog</h3>
    {% for post in data %}
    <div class="blog-wrapper mb-3">
        <div class="img-wrapper">
            <img src="{{post.image.url}}" 
            
        </div>
        <div class="txt-wrapper">
            <a href="{% url 'detail' post.id %}">
            <h4 class="blog-title">{{post.title}}</h4>
            </a>
            <p>{{post.description}}</p>
            <h6 class="blog-footer">
                <a href="javascript:void(0)"><i class="ti-user"></i>{{post.author}}</a> |
                <a href="javascript:void(0)"><i class="ti-thumb-up"></i>{{post.date|date:"F d, Y"}}</a>
            </h6>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
